@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
}

.section {
  padding: 0 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -20%;
    width: 0%;
    height: 2px;
    background-color: #0146a6;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.active {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -20%;
    width: 100%;
    height: 2px;
    background-color: #0146a6;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
}

.overflow-hidden {
  overflow: hidden;
}

// for job posting html
.html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #202124;
    margin: 10px 0;
    text-transform: capitalize;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    line-height: 26px;
    color: #696969;
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 20px 0;
  }

  ul {
    list-style: unset;
    li {
      color: #696969;
      line-height: 26px;
      margin-left: 20px;
    }
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: #0146a6;
  }
}
